/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color, #000);
  font-family: var(--main-font, sans-serif);
  background-image:var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--card-text-font-weight, 400);
  max-inline-size: 1440px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header,
.main {
  margin: 6.25rem auto 3.125rem;
  inline-size: clamp(375px, 48.6%, 700px);
}

.header,
.footer {
  background-color: var(--background-color, #FFF);
}

.header {
  border: var(--border);
  padding-block-start: clamp(7.5rem, 19.4%, 8.5rem);
  padding-block-end: 1.56rem;
  font-family: var(--accent-font);
  text-align: center;
}

.header__title,
.header__subtitle {
  line-height: 1em;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  margin-block-start: 1.25rem;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.header__theme-menu {
  margin-block-start: 1.56rem;
}

.theme-menu__list {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: .875rem;
  justify-content: center;
}

button {
  border: var(--border);
  font-family: var(--accent-font);
  font-size: .875rem;
  line-height: .9em;
  background-color: inherit;
  cursor: pointer;
}

.theme-menu__button {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column-gap: .375rem;
  border: none;
  line-height: 1em;
  text-transform: uppercase;
}

.theme-menu__button::before {
  content: '';
  inline-size: .875rem;
  block-size: .875rem;
}

.theme-menu__button:disabled::before {
  content: '▶';
  animation: back-and-forward 0.5s ease-in-out infinite alternate;
  inline-size: .875rem;
  block-size: .875rem;
}

.theme-menu__button:disabled {
  color: rgba(var(--accent-color-rgb), .6);
  transition: color ease 0.3s;
  pointer-events: none;
}

.theme-menu__button:hover {
  color: rgba(var(--accent-color-rgb), .6);
  transition: color ease 0.3s;
}

button:focus,
button:focus-visible {
  outline: none;
}

.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  color: rgba(var(--accent-color-rgb), .6);
  transition: color ease 0.3s;
}

.theme-menu__button::after {
  content: '';
  display: block;
  grid-column: 2;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transition: transform ease 0.3s;
  transform: scaleX(1);
}

.main__list-item {
  background-color: var(--background-color);
}

.main__list-item:not(:first-child) {
  margin-block-start: 3.125rem;
}

.main__card {
  border: var(--border);
}

.main__card-title {
  padding-inline-start: .625rem;
  padding-block-start: .1875rem;
  font-size: 1.125rem;
  line-height: 1.21em;
  text-align: left;
  font-variation-settings: 'wgt' var(--card-title-font-weight, 700);
}

.main__card-image-wrapper {
  /* inline-size: 100%; */
  position: relative;
  aspect-ratio: 1 / 1;
}

.main__card-label {
  position: absolute;
  top: var(--card-padding, 1.5625rem);
  right: var(--card-padding, 1.5625rem);
  z-index: 1;
  color: rgba(var(--accent-color-rgb), .5);
  font-family: var(--accent-font, PressStart2P-Regular, monospace);
  font-weight: 400;
  font-size: .875rem;
  line-height: 1em;
  text-shadow:
  -1px 0 var(--text-shadow-color),
  0 1px var(--text-shadow-color),
  1px 0 var(--text-shadow-color),
  0 -1px var(--text-shadow-color);
  mix-blend-mode: hard-light;
}

@supports(text-stroke: 1px var(--text-shadow-color)) or (-webkit-text-stroke: 1px var(--text-shadow-color)) {
  .main__card-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-shadow-color);
    text-stroke: 1px var(--text-shadow-color);
  }
}

.main__card-image {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.zero-sprint {
  filter: grayscale(75%);
}

.clean-sheet {
  filter: invert(35%);
}

.what-if-not {
  filter: brightness(115%);
}

.pursuing-perfection {
  filter: saturate(105%);
}

.support {
  filter: sepia(50%);
}

.strategies {
  filter: opacity(.75);
}

.focus {
  filter: blur(.1rem) brightness(75%);
}

.current-moment {
  filter: brightness(110%) sepia(50%);
}

.main__card-text-wrapper {
  padding: var(--card-padding, 1.5625rem);
}

.main__card-text:not(:first-child) {
  margin-block-start: 1.6875rem;
}

.main__card-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .75rem;
  padding: 0 var(--card-padding, 1.5625rem) var(--card-padding, 1.5625rem) 0;
}

.card__icon-button {
  border: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--contour-color);
  transition: outline 0.3s ease;
}

.card__icon-button:hover
.core {
  fill: var(--contour-color);
  transition: fill .3s linear;
}

.card__icon-button:hover
.main-body {
  fill: var(--contour-color);
  transition: fill .3s .05s linear;
}

.card__icon-button:active
.core {
  fill: var(--sparks-color);
  transition: fill .3s linear;
}

.card__icon-button:active
.main-body {
  fill: var(--sparks-color);
  transition: fill .3s .05s linear;
}

.like-icon
.main-body,
.core {
  fill: transparent;
}

.like-icon.is-liked
.heart {
  animation: heart-click .3s .1s ease-in 2 alternate;
}

.like-icon.is-liked
.core {
  fill: var(--sparks-color);
  transition: fill .3s linear;
}

.like-icon.is-liked
.main-body {
  fill: var(--sparks-color);
  transition: fill .3s .05s linear;
}

.like-icon.is-liked
.contour {
  fill: var(--sparks-color);
  transition: fill .3s .06s linear;
}

.like-icon.is-liked
.sparks {
  animation: sparks-burst .3s .3s ease-in alternate;
}

.main-body {
  transition: fill .3s linear;
}

.core {
  transition: fill .3s .03s linear;
}

.like-icon .sparks {
  opacity: 0;
}

.main__card-button,
.footer__button {
  position: relative;
  overflow: hidden;
}

.main__card-button {
  border: var(--border);
  inline-size: 8.125rem;
  /* display: block; */
  /* padding: .89em 2.64em; */
}

.main__card-button:focus-visible,
.footer__button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow ease 0.3s;
}

.main__card-button::after,
.footer__button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  block-size: 100%;
  inline-size: 100%;
}

.main__card-button:hover::after,
.footer__button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  display: block;
  padding: .89em 0;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.footer {
  width: fit-content;
  margin: 0 auto clamp(6.25rem, 9%, 6.4375rem);
}

.footer__button .button__text {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .9375rem 1.3125rem .9375rem 1.1875rem;
}

.footer__button-image {
  inline-size: 1.3125rem;
  block-size: 1.3125rem;
}

.dialog {
  position: fixed;
  inset: 0;
  border: var(--border);
  padding: 1.875rem;
  color: var(--accent-color);
  background-color: var(--background-color);
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  background-color: rgba(var(--accent-color-rgb), .75);
}

.dialog__form {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 1.875rem;
}

.dialog__message {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.dialog__message-text {
  font-family: var(--accent-font);
  font-size: .875rem;
  line-height: 1.5em;
  text-transform: uppercase;
  max-inline-size: 14.625rem;
}

.dialog__button {
  border: var(--border);
  padding: .78125rem 0 .78125rem;
  inline-size: 100%;
}

@keyframes back-and-forward {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

@keyframes heart-click {
  from {
    transform: scale(1);
    transform-origin: center;
  }

  to {
    transform: scale(1.5);
    transform-origin: center;
  }
}

@keyframes sparks-burst {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 420px) {
  .main__card-label {
    right: .8125rem;
  }

  .footer__button .button__text {
    flex-direction: column;
  }

  .footer__button-image {
    inline-size: 1.75rem;
    block-size: 1.75rem;
  }

  .dialog {
    padding: 1.875rem 2.625rem;
  }

  .dialog__message-text {
    max-inline-size: 12.375rem;
  }
}